body {
    margin-top: 2rem;
    font-family: BlinkMacSystemFont,-apple-system,"Segoe UI",Roboto,Oxygen,Ubuntu,Cantarell,"Fira Sans","Droid Sans","Helvetica Neue",Helvetica,Arial,sans-serif;
}

h1, h3, p {
    text-align: center;
    margin: 0;
    padding: 0;
}

p {
    font-weight: bold;
}

.player-card {
    width: 300px;
    height: 300px;
    border: 1px solid #dbdbdb;
    border-radius: .375em;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.players-container {
    display: flex;
    justify-content: center;
    gap: 1rem;
    margin: 2rem;
}

.button-container {
    text-align: center; 
}

#start-btn, #new-game-btn {
  margin: 2rem auto;
  display: block;
}

button {
  align-items: center;
  appearance: none;
  background-color: #fff;
  border: 1px solid #dbdbdb;
  border-radius: .375em;
  box-shadow: none;
  box-sizing: border-box;
  color: #363636;
  cursor: pointer;
  display: inline-flex;
  font-size: 1rem;
  height: 2.5em;
  justify-content: center;
  line-height: 1.5;
  padding: calc(.5em - 1px) 1em;
  position: relative;
  text-align: center;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  vertical-align: top;
  white-space: nowrap;
}

button:active {
  border-color: #4a4a4a;
  outline: 0;
}

button:focus {
  border-color: #485fc7;
  outline: 0;
}

button:hover {
  border-color: #b5b5b5;
}

button:focus:not(:active) {
  box-shadow: rgba(72, 95, 199, .25) 0 0 0 .125em;
}