body {
  margin-top: 2rem;
  font-family: BlinkMacSystemFont,-apple-system,"Segoe UI",Roboto,Oxygen,Ubuntu,Cantarell,"Fira Sans","Droid Sans","Helvetica Neue",Helvetica,Arial,sans-serif;
}

h1, h3, h4, p {
  text-align: center;
  margin: 0;
  padding: 0;
}

p {
  font-weight: bold;
}

.player-card {
  width: 300px;
  height: 300px;
  border: 1px solid #dbdbdb;
  border-radius: .375em;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.lose-border {
box-shadow: red 0px -10px;
}

.blackjack-border {
box-shadow: gold 0px -10px;
}

.win-border {
box-shadow: green 0px -10px;
}

.push-border {
  box-shadow: lightblue 0px -10px;
}

.double-down-background {
  background-color: orange;
  border-color: black;
}

.grey-background {
  background-color: lightgray;
  border-color: black;
}

.hidden {
display: none;
}

input {
  border: 1px solid #dbdbdb;
  border-radius: .375em;
  height: 2rem;
  text-align: center;
  margin: 0.5rem;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0; /* Optional, for some versions of Firefox */
}

.button-container {
  text-align: center; 
}

#start-btn, #new-game-btn {
margin: 2rem auto;
display: block;
}

button, .submit-btn {
align-items: center;
appearance: none;
background-color: #fff;
border: 1px solid #dbdbdb;
border-radius: .375em;
box-shadow: none;
box-sizing: border-box;
color: #363636;
cursor: pointer;
display: inline-flex;
font-size: 1rem;
height: 2.5em;
justify-content: center;
line-height: 1.5;
padding: calc(.5em - 1px) 1em;
position: relative;
text-align: center;
user-select: none;
-webkit-user-select: none;
touch-action: manipulation;
vertical-align: top;
white-space: nowrap;
}

button:active, .submit-btn:active {
border-color: #4a4a4a;
outline: 0;
}

button:focus, .submit-btn:active {
border-color: #485fc7;
outline: 0;
}

button:hover, .submit-btn:active {
border-color: #b5b5b5;
}

button:focus:not(:active), .submit-btn:active {
box-shadow: rgba(72, 95, 199, .25) 0 0 0 .125em;
}

button:disabled {
  background-color: lightgray;
}

#bet-btn-container {
  margin: 1rem 0;
}

.players-container {
  display: flex;
  justify-content: center;
  gap: 1rem;
  margin: 0 0 1rem 0;
}

.add-players-container {
  display: inline-grid;
  grid-template-columns: auto auto;
  gap: 1rem;
  width: auto;
}

.start-screen, .interface-elements {
  padding: 2rem;
  text-align: center;
}

.num-players-form {
  display: flex;
  flex-direction: column;
  width: 15rem;
  align-items: center;
  margin: auto;
}

.player-items {
  margin: auto;
  width: 15rem;
  text-align: right;
}